<?xml version="1.0"?> <!-- Specify this is an xml file using version 1.0-->


<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="balance_robot">

   <xacro:include filename="balance_robot_core.xacro"/>

   <xacro:include filename="IMU_sensor.xacro"/>

   <xacro:include filename="gazebo_control.xacro"/>
    
</robot>