<?xml version="1.0"?>
<model>
  <name>Balance Robot</name>
  <version>1.0</version>
  <sdf version='1.7'>balance_robot_model.sdf</sdf>

  <author>
   <name>Martijn Strolenberg</name>
   <email>m.p.m.strolenberg@student.tue.nl</email>
  </author>

  <description>
    A simple low-cost balance robot.
  </description>
</model>